/*OVERWRITE FOR CONTROLLER OVERLAY*/
body,html{
  background:#f00!important;
}
.controller.ds4{
  background:url("https://i.imgur.com/7n0FN7b.png")!important;
  width:800px!important;
  height:600px!important;
}